*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  background: #f0f2f5;
}

.nav-bar {
  padding: 0.5rem;
  justify-content: space-between;
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 7px 3px -6px #4a4a4a;
}

.logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.lago {
  height: 3rem;
}

::placeholder {
  outline: none;
  border: none;
}
  
.input {
  background: #f0f2f5;
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.search {
  border: none;
  outline: none;
  padding-left: 0.85rem;
  background: none;
}

.f-search {
  padding-left: 0.85rem;
}

.house {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.hom,
.tele,
.group,
.curl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  border-radius: 5px;
}

.hom:hover {
  cursor: pointer;
  /* background-color: #e4e4e4; */
}

.tele:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.curl:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.group:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.profile_pic {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  padding-left: 0.5rem;
}

.end {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
}

.pulse {
  height: 0.5rem;
}

.plus {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.start {
  margin: 1rem;
}

.namee {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.nam {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
}

.border {
  border-bottom: 2px solid #e4e4e4;
  width: 18rem;
}

.ur {
  color: #787878;
  font-size: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
} 

.privacy {
  color: #787878;
  padding-top: 6rem;
  font-size: 12px;
}

.color {
  color: #787878;
  height: 12px;
}

.arena {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
}

.middle {
  overflow-y: auto;
  /* background-color: blueviolet; */
  /* height: 50rem; */
  margin: 1rem;
} 

.grids {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.pics {
  height: 12rem;
  width: 8rem;
  border-radius: 10px;
  box-shadow: 0 7px 3px -6px #4a4a4a;
}

.pics:hover {
  cursor: pointer;
  transform: ease-out;
}

/* .photos {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.small {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  border: 5px solid blue;
  margin: 1rem;
}

.box {
  height: 9rem;
  width: 50rem;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 7px 3px -6px #4a4a4a;
}

.profile {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e4e4e4;
  margin: 1rem;
}


::placeholder {
  padding-left: 1rem;
  font-size: 16px;
}

.put {
  padding-left: 1rem;

}

.profil {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.mind {
  height: 2.5rem;
  width: 43rem;
  background: #f0f2f5;
  border: none;
  outline: none;
  border-radius: 1.5rem;
}

.mind:hover {
  cursor: pointer;
  background: #e4e4e4;
}

.live {
  justify-content: space-around;
  display: flex;
}

.vide:hover {
  cursor: pointer;
  background-color: #f0f2f5;
  
}

.vide {
  display: flex;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.vid {
  padding-left: 1rem;
  color: #787878;
}


.box2 {
  height: 7rem;
  width: 50rem;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 7px 3px -6px #4a4a4a;
  overflow-x: auto;
}

.rooms {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.chats {
  color: #787878;
  display: flex;
}

.blu {
  color: #216fdb;
}

.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

b {
  color: black;
  font-weight: 400;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.memba {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.box3 {
  height: 60rem;
  width: 50rem;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 7px 3px -6px #4a4a4a;
}

.ende {
  background-color: burlywood;
  height: 50rem;
  margin: 1rem;
}
